body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #9e2c24; /* Rojo Nintendo */
    color: white;
    padding: 15px 0;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #9e2c24; /* Título en rojo Nintendo */
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.article-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.article-image-right {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 40%; /* Puedes ajustar este valor según el tamaño que desees */
}

footer {
    background-color: #9e2c24; /* Fondo del pie de página en rojo Nintendo */
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
